
* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}
body {
    background-color: beige;
}
.carlist {
    width : 90vw;
    max-width : 1170px;
    margin : 2rem auto;
    display : grid;
    gap : 2rem;
    grid-template-columns: repeat(3, 1fr);
    padding : 10px;
}


@media screen and (max-width :450px) {
    .carlist {
        grid-template-columns: repeat(1, 1fr);
    }
}
.car {
    display : flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.25rem;
    height : 80%;
    margin : 10px;
    border-radius : 1rem;
    padding : 1rem 2rem;
    background-color: grey;
    width : 300px;

}

.carElement {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carElement button {
    width : 50%;
    margin : 1.2rem;
}
.carElement .countBtn {
    display: flex;
    margin : 1.2rem;
    width : 50%;
    align-items: center;
    justify-content: center;
    margin : .1rem .1rem;

}
.carElement .countBtn button {
    align-items: center;
    justify-content: center;
}

.logindiv,.registerdiv {
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.25rem;
    height : 500px;
    margin : 10px;
    border-radius : 1rem;
    padding : 2rem 2rem;
    background-color: grey;
    width : 400px;
    
}

.loginform,.registerform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginform input {
    margin : .5rem;
    padding : .5rem 2rem;
    border-radius: .3rem;
}
.logindiv p a {
    color : inherit;
}


.registerform input {
    margin : .5rem;
    padding : .5rem 2rem;
    border-radius: .3rem;
}


.registerdiv p a {
    color : inherit;
}


.profilemenu {
    display : flex;
    justify-content: center;
    gap : 2rem;
    background-color: burlywood;
    
    top :0;
    margin : 0;
    position : absolute;
    width : 100%;
    left : 0;
}

.profilemenu button {
    margin : 20px;
}



.paginationButtons {
    width : 80%;
    height: 40px;
    list-style-type: none;
    display : flex;
    justify-content: center;
    align-items: center;
}

.paginationButtons a {
    padding : 10px;
    margin : 8px;
    border-radius: 5px;
    border: 1px solid blue;
    cursor : pointer;
    
}

.paginationButtons a:hover {
    color:white;
    background-color: blue;
    transition: background-color .5s ease;
}
.paginationActive a {
    color: white;
    background-color: blue;
}

/* 
.date-select-btn {
    display : flex;
    margin : 1rem;
    width : 100;
    align-items: center;
    justify-content: center;
}
.date-select-input {
    display : flex;
    margin : 2rem;
    gap : 1rem;
    justify-content: center;
    align-items: center;
}



.date-select-input input {

    padding : 10px;
    border-radius: 10px;
} */
